<nz-affix>
  <nz-header>
    <img class="logo" src="assets/github-dark.png" alt="GitHub icon logo" />
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <nz-input-group nzSuffixIcon="search" style="max-width: 300px">
        <input nz-input placeholder="Search" #searchField
               [ngModel]="searchQ" [ngModelOptions]="{ updateOn: 'blur' }"
               (ngModelChange)="changeQuery({ q: $event })"
               (keyup.enter)="changeQuery({ q: searchField.value })" />
      </nz-input-group>
      <li nz-menu-item>Pull requests</li>
    </ul>
  </nz-header>

  <nz-alert *ngIf="searchService.error" nzBanner nzMessage="Something went wrong!"
            [nzDescription]="alert"></nz-alert>
  <ng-template #alert>
    <span>{{ searchService.error }}</span>
    <a [routerLink]="['search', '']" style="margin-left: 1rem"
       (click)="searchService.error = ''">Refresh</a>
  </ng-template>
</nz-affix>
