.main-container {
  display: flex;
  gap: 20px;

  margin: 20px 50px;
}

.search-categories-column {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 16px;
  flex: 1 0 250px;
  align-self: flex-start;
}

.search-content {
  flex: 100%;
  overflow: hidden;
}

.repo-search-footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 15px;

  margin-top: 10px;
  font-size: 12px;

  ::ng-deep .ant-badge-status-text {
    font-size: 12px;
    margin-left: 4px;
  }

  ::ng-deep .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
}

::ng-deep .ant-pagination {
  text-align: center;
  margin: 10px;
}
