<nz-content *ngIf="search$ | async as search; else blankState" class="main-container">
  <demo-search-type-menu></demo-search-type-menu>
  <div class="search-content">
    <ng-container *ngIf="search.items && search.items.length; else noSearchResults">
      <demo-search-header-with-sort [type]="type" [count]="search.total_count"></demo-search-header-with-sort>

      <ng-container *ngTemplateOutlet="type === 'repositories' ? repositories : users; context: { search: search }"></ng-container>
      <nz-pagination [nzTotal]="search.total_count" [nzPageIndex]="page"
                     (nzPageIndexChange)="changePage($event)"></nz-pagination>
    </ng-container>
    <ng-template #noSearchResults>
      <nz-result [nzIcon]="icon" [nzTitle]="title" style="text-align: center"></nz-result>
      <ng-template #icon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #title>
        <span>We couldn't find any {{ type }} matching '{{ query }}'</span>
      </ng-template>
    </ng-template>
  </div>
</nz-content>

<ng-template #blankState>
  <nz-content *ngIf="!search$">
    <nz-page-header>
      <nz-page-header-title>
        <i nz-icon nzType="search"></i>
        Search more than <b>70M</b> users
      </nz-page-header-title>
    </nz-page-header>
    <nz-input-group nzSearch [nzAddOnAfter]="afterButton">
      <input nz-input placeholder="Search GitHub" [(ngModel)]="query" />
    </nz-input-group>
    <ng-template #afterButton>
      <button nz-button nzSearch (click)="changeQuery(query)">Search</button>
    </ng-template>
  </nz-content>
</ng-template>

<ng-template #repositories let-search="search">
  <nz-card *ngFor="let result of search.items">
    <nz-card-meta [nzTitle]="title" [nzDescription]="description" [nzAvatar]="avatar"></nz-card-meta>
    <ng-template #title>
      <a [href]="result.html_url" target="_blank">{{ result.full_name }}</a>
      <nz-tag *ngIf="result.archived" style="margin-left: 1rem">Archived</nz-tag>
    </ng-template>
    <ng-template #avatar>📙</ng-template>
    <ng-template #description>
      <div>{{ result.description }}</div>
      <div style="font-size: 12px" class="repo-search-footer">
        <a [href]="result.html_url + '/stargazers'" target="_blank">⭐️ {{ result.stargazers_count }}</a>
        <nz-badge *ngIf="result.language" [nzColor]="'#e34c26'" [nzText]="result.language"></nz-badge>
        <span *ngIf="result.license">{{ result.license?.name }}</span>
        <span>Updated on {{ result.updated_at | date }}</span>
      </div>
    </ng-template>
  </nz-card>
</ng-template>

<ng-template #users let-search="search">
  <nz-card *ngFor="let result of search.items">
    <nz-card-meta [nzTitle]="title" [nzAvatar]="avatar"></nz-card-meta>
    <ng-template #title>
      <a [href]="result.html_url" target="_blank">{{ result.login }}</a>
      <a [href]="result.html_url" target="_blank" nz-button style="margin-left: auto">Follow</a>
    </ng-template>
    <ng-template #avatar>
      <img [src]="result.avatar_url" style="max-width: 40px" [alt]="result.login + '\'s avatar'" />
    </ng-template>
  </nz-card>
</ng-template>
